{% extends "entries/base.html"%}
{%block foot %}



{%endblock %}
{% load i18n %}
{%block content %}

<div class="col-md-8" style="width: 100%;">
        
        {%for entry in blog_entries %}
        <!-- Blog Post -->
        <div class="card mb-4 mt-4" style="width: 130%;" >
          <div class="card-body"  >
             <img  src="{{ entry.image.url }}"  class="eng-Img float-right" style="margin-top:10px;"  width="230" height="190" alt=""> 
              <p class="card-text">
             
            
              {%for userlikes in entry.likes.all %}      
                {%if forloop.last %}
                  <button type="text-info" class="btn btn-info ">{{forloop.counter}} Like</button>
                {% endif %}
                
              {% endfor %}  
                
              
              <h3 class="card-title" style="text-size:16;">{{entry.entry_title}}</h3>
              
              
            {{entry.entry_text|truncatechars:335}}</p>
            
            <a href="{% url 'entry-detail' entry.pk     %}" class="btn btn-primary btn-sm">Czytaj Więcej &rarr;</a>
          
          </div>


          <div class="card-footer text-muted">
            {% language 'pl' %}
            {{entry.entry_date}}
            {% endlanguage %}
            <span class= "text-info mr-2">{{entry.entry_author}}</span>

          </div>

          
        </div>
        {% endfor %}
        {% if is_paginated %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">&larr; Poprzednia Strona</a>
          </li>
          {%endif%}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">Następna Strona &rarr;</a>
          </li>
          {%endif%}
        </ul>
        {%endif%}
      </div>
 {% endblock %}      